

.filters{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin:10px;
}



.filters{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin:10px;
}

.tablecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.datelabel {
    order:1;
    font-size: 18px;
    margin:10px;
    font-weight: bold;
}

.categorylabel {
    order:2;
    font-size: 18px;
    margin:10px;
    font-weight: bold;
}

.Date {
    order:3;
}

.Category {
    order:4;
}

.datelabel {
    order:1;
    font-size: 18px;
    margin:10px;
    font-weight: bold;
}

.categorylabel {
    order:2;
    font-size: 18px;
    margin:10px;
    font-weight: bold;
}

.Date {
    order:3;
}

.Category {
    order:4;
}

.title {
    align-items: center;
    text-align: center;
}
.form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.welcome{
   color:#4574D0;
}

.inputstyle {
    margin: 10px;
    padding: 8px;
    font-size: 16px;
    border-radius: 8px;
    stroke-opacity: 63%;
    
   

}
.selectstyle {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border-radius: 8px;
    stroke-opacity: 63%;
    height:41px;
    width:280px;
    height:41px;
    width:280px;

}

.requireSignup{
    color:#000000;
    text-align: center;
}

.SignupLink{
    color:#000000;
    font-weight: bold;
}

/* src/components/ExpenseList.css */











.summary {
    margin-bottom: 20px;
    font-size:18px;
    text-align: center;
}
.summarynumber{
    margin-bottom: 20px;
    font-size:18px;
    text-align: center;
    color:red;
}
.buttoncontainer{
    align-items: center;
    justify-content: center;
    display: flex;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4574D0;
    color: white;
    border: none;
    border-radius: 10px;
    margin:10px;
    text-align: center;
    flex-direction: column;
}




.expensetable {
    width: 90%;
    border-collapse: collapse;
    margin: 20px;
    text-align: center;
}

.expensetable th, .expensetable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.expensetable th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.expensetable tr.even-row {
    background-color: #f9f9f9;
}

.expensetable tr.odd-row {
    background-color: #ffffff;
}

@media (max-width: 768px) {
    .filters {
        flex-direction: column;
        justify-content: center;
        justify-content: center;
    }

    .datefilter{
        text-align: center;
    .datefilter{
        text-align: center;
    }
    .categoryfilter{
        text-align: center;
    }
   
    .categoryfilter{
        text-align: center;
    }
   
}
