/* src/components/NavigationBar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #4574D0;
}

.navbar-left {
    font-size: 18px;
    color:#ffffff;
}

.navbar-right a {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
}

.navbar-right a:hover {
    text-decoration: underline;
}
